
#vinaikopp-comments-popup {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px #999 solid;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    max-height: 400;
    z-index: 400;
}

#vinaikopp-comments-popup .comment-path,
#vinaikopp-comments-popup .update-success,
#vinaikopp-comments-popup .update-fail,
#vinaikopp-comments-popup .new-comment-author  {
    font-size: smaller;
    font-style: italic;
    padding-left: 5px;
}

#vinaikopp-comments-popup .update-success {
    color: green;
    font-weight: bold;
}

#vinaikopp-comments-popup .update-fail {
    color: red;
    font-weight: bold;
}

#vinaikopp-comments-popup .new-comment-author {
    float: right;
    padding-right: 15px;
}

#vinaikopp-comments-popup .comment-text {
    cursor: pointer;
}

#vinaikopp-comments-popup .comment {
    padding-top: 5px;
    padding-bottom: 5px;
    clear: both;
    overflow: hidden;
}

#vinaikopp-comments-popup .comment-author {
    display: block;
    font-size: smaller;
    font-style: italic;
    float: right;
    margin-right: 10px;
}

#vinaikopp-comments-popup .odd {
    background-color: #fcfcfc;
}

#vinaikopp-comments-popup .rm-comment {
    position: relative;
    float: right;
    top: 0px;
    right: 0px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    text-align: center;
}

#vinaikopp-comments-popup textarea.new-comment,
#vinaikopp-comments-popup textarea.edit-comment{
    width: 88%;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.update-success.ng-hide-add,
.update-success.ng-hide-remove {
    -webkit-transition: 0.3s linear all; /* Chrome */
    transition: 0.3s linear all;
    display: inline!important;
}

.update-success.ng-hide-add,
.update-success.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.update-success.ng-hide-add.ng-hide-add-active,
.update-success.ng-hide-remove {
    opacity: 0;
}