<?xml version="1.0"?>
<config>
    <modules>
        <VinaiKopp_ConfigComments>
            <version>0.1.1</version>
        </VinaiKopp_ConfigComments>
    </modules>
    <global>
        <helpers>
            <vinaikopp_configcomments>
                <class>VinaiKopp_ConfigComments_Helper</class>
            </vinaikopp_configcomments>
        </helpers>
        <models>
            <vinaikopp_configcomments>
                <class>VinaiKopp_ConfigComments_Model</class>
                <resourceModel>vinaikopp_configcomments_resource</resourceModel>
            </vinaikopp_configcomments>
            <vinaikopp_configcomments_resource>
                <class>VinaiKopp_ConfigComments_Model_Resource</class>
                <entities>
                    <comment>
                        <table>vinaikopp_configcomments_comment</table>
                    </comment>
                </entities>
            </vinaikopp_configcomments_resource>
        </models>
        <resources>
            <vinaikopp_configcomments_setup>
                <setup>
                    <module>VinaiKopp_ConfigComments</module>
                </setup>
            </vinaikopp_configcomments_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <vinaikopp_configcomments>
                    <file>vinaikopp/configcomments.xml</file>
                </vinaikopp_configcomments>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <vinaikopp_configcomments>
                        <class>vinaikopp_configcomments/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </vinaikopp_configcomments>
                </observers>
            </core_block_abstract_to_html_after>
            <adminhtml_block_html_before>
                <observers>
                    <vinaikopp_configcomments>
                        <class>vinaikopp_configcomments/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </vinaikopp_configcomments>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vinaikopp_configcomments before="Mage_Adminhtml">VinaiKopp_ConfigComments_Adminhtml</vinaikopp_configcomments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>